.divideSection {
    display: flex;
    min-height: 100vh;
    background-color: #f0f2f5;
}

/* LEFT SIDE */
.section1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

.section1 h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.section1 p {
    font-size: 18px;
    color: #555;
}

/* RIGHT SIDE */
.section2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
